  <div>

    <hr>
     TOTAL USER: {{ (users$ | async).length }}

     <input type=text 
       placeholder="add user"
       #newUser
       (keyup.enter)="addUser(newUser)" />

     <hr />
     <li class="list-group-item"
         *ngFor="let item of (users$ | async)">
        
        {{item.name}}
        
        <button class="btn btn-danger btn-xs pull-right" 
          (click)="actions.delete( item.id )">
          delete
        </button>
      </li>

    </div>
    